/*fuente*/
@font-face{
    font-family: font;
    src: url("CALID.TTF");
}
/*cuerpo del menu*/
body{
    margin: 0; padding: 0; 
    background-image: url(bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat; /*ayuda al size*/
}
nav{
    font-family: font;
    text-align: center;
    width: 70%;
    height: 80px;
    font-size: 25px;
    margin: auto; /*or 6/15*/ 
    text-transform: uppercase; /*mayus*/
}
nav li{
    display: inline-block;
    margin: 2em 2em;/*.10em significa es un valor menor a 1*/
}
nav a{
    text-decoration: none;
    color: #000;
    position: relative;
    /*se puede agragar un padding aqui*/
}
/*efecto del menu*/
nav a:hover{
    /*se le puede agregar un nuevo color*/
    color: #000;
}
nav a::before,
nav a::after{
    height: 100%;
    width: 100%;
    position: absolute;
    content: ''; /*eto no se para que es*/
    transition: all ease 0.3s; /*inicio de la animacion*/
    opacity: 0;
}
nav a::before{
    right: 0;
    top: 0;
    border-top: 2px solid #000;
    border-right: 4px solid #000; 
    transform: translate(-100%,50%); /*transformacion de la animacion*/
}
nav a::after{
    left: 0;
    bottom: 0;
    border-left: 2px solid #000;
    border-bottom: 4px solid #000; 
    transform: translate(100%,-50%); /*transformacion de la animacion*/
}
/*aca esta la animacion en si*/
nav a:hover::before,
nav a:hover::after{
    transform: translate(0%,0%);
    opacity: 1;
    margin: -5px; /*modifique el tamaño del margin poque por algun motivo se pagaba demasiado a la letra */
}